@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Poppins:wght@500&family=Roboto:wght@300;700;900&family=Skranji:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    color:hsl(219, 8%, 95%); 
    font-weight: 600;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.section{
    padding: 4.5rem 0 2rem;
}
.main{
    overflow: hidden;
}
.shape{
    background-color: hsla(213 ,31%, 32%,0.5);
    filter: blur(112px);
    border-radius: 50%;
}
.shape-big{
width: 400px;
height: 400px;
}
button{
    cursor: pointer;
}
.shape-small{
    width: 300px;
    height: 300px;
}
.smaller-shape{
    width: 180px;
    height: 180px;
    filter: blur(64px);
}
body{
    font-family: 'Exo', sans-serif;  
    font-size: 0.938rem;
    background-color: hsl(219, 4%, 4%);
    color: hsl(219, 8%, 75%);
    

}
nav a{
    text-decoration: none;
    color: hsl(219, 8%, 95%);
}
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 0.8rem 0.8rem;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}
.nav-logo{
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
font-weight: 500;

}
.nav-logo a{
    transition: 0.3s;
}
.nav-logo i{
    font-size: 1.25rem;
}
.nav-logo a:hover{
    color: #4178dc;
}
.nav-toggle{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
    
}
@media screen and (max-width:767px){
    .div-nav{
        position: fixed;
        background-color: hsl(0, 0%,100%,0.1);
        top: 0;
        right:-100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: 0.3s;
    }
}
.ul-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding-top: 9rem;
}
li{
    list-style-type: none;
}
.ul-nav li a{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
   transition: 0.3s;
}
.ul-nav li a:hover{
    color:#4178dc ;
}
.nav-close{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: white;
}
.home-section{
    position: relative;
    height: 100vh;
    margin-bottom: 5rem;
}
@media screen and (min-height:730px){
    .home-section{
        overflow: hidden;
        margin-bottom: 0;
    }
}
.home-container{
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;
}
.home-data{
    text-align: center;
}
.home-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.home-subtitle{
font-size: 1rem;
}
.home-elec{
    color:hsl(219, 8%, 75%) ;
    font-size: 0.825rem;
    column-gap: 0.25rem;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
}
.home-elec i{
    color: #4178dc;
}
.home-img{
    width: 280px;
   justify-self: center;
}
.home-car{
    display:flex ;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}
.home-car-name{
    font-weight: 400;
    font-size: 0.625rem;
    color: hsl(219, 8%, 75%);
}
.home-car-data{
    text-align: center;
}
.home-car-number{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}
.home-car-icon{
    background-color: hsl(219,4%, 7%);
    border-radius: 50%;
    display: inline-flex;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    font-size: 0.825rem;
    margin-bottom: 0.75rem;
}
.home-div-button{
    align-self: center;
    justify-self: center;
}
.home-button{
    position: relative;
    text-decoration: none;
    border: 2px solid hsl(156 ,89%, 30%);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: 0.813rem;
    color: white;
    font-weight: 500;
    transition: 3s;
}
.home-button::before{
    content: '';
    border: 2px solid hsl(156 ,98%, 43%);
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px hsl(156 ,98%, 43%);
    transition: 0.3s;
    animation: button 3s infinite;
}


.shape-big,.shape-small{
    position: absolute;
}
.shape-big{
    left: -9rem;
    top: -4rem;
}
.shape-small{
    right: -10rem;
    bottom: 3rem;
}
@keyframes button{
0%{
    box-shadow: 0 0 12px hsl(156 ,98%, 43%);
}
50%{
    box-shadow: 0 0 24px hsl(156 ,98%, 43%);
    
}
}
/*--------------------changing background header with js--------------------*/
.scroll-header{
    border-radius: 0 0 1rem 1rem;
    background-color: hsl(219, 4%, 4%);
    box-shadow: 0 2px 4px hsl(0 ,0%, 1%);
}
/*-------------------- end changing background header with js--------------------*/
/*-------------------button*---------------------*/
.button{
    display: inline-block;
    background-color: #4178dc;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 0.983rem;
    transition: 0.3s;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.button:hover{
    background-color: transparent;
    border: 2px solid white;
}
/*================================about======================================*/
.about-container{
    row-gap:6rem ;
}
.about-group{
    position: relative;
}
.about-img{
width: 310px;
border-radius: 1rem;
}
.about-card{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: hsl(0 ,0%, 100%,0.1);
    text-align: center;
    padding: 1rem 0.75rem;
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
}
.about-card-title{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.about-card-description{
    font-size: 0.75rem;
}
.about-data-title{
    margin-bottom: 2rem;
    text-align: initial;
}
.about-data-description{
    margin-bottom: 2rem;
}
/*================================end about======================================*/
 /*================================popular======================================*/
 .section-title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.popular-title,.popular-subtitle{
text-transform: capitalize;
}
.popular-container{
padding-top: 1rem;
}
.popular-card{
    background-color: hsl(219,4%, 7%);
    width: 237px;
    padding: 2rem 1.5rem 1.5rem;
    margin-bottom: 3.5rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.smaller-shape{
    position: absolute;
   /* top: -2.5rem;
    left: -2.5rem;*/
   
}

.popular-title,.popular-subtitle,.popular-card img{
    position: relative;
}
.popular-title{
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}
.popular-subtitle{
    font-size: 0.938;
    color: hsl(219, 8%, 75%);
    font-weight: 400;
}
.popular-card img{
    width: 160px;
    margin: 0.75rem 0 1.25rem 1.5rem;
    transition: 0.3s;
}
.popular-data{
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap :0.5rem 1.25rem;
    margin-bottom: 2rem;
  
}
.popular-data-group{
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
    column-gap: 0.5rem;
    color: white;
}
.popular-data i{
    font-size: 0.9rem;
    
}
.popular-price{
    font-size: 1rem;
    margin-right: 1rem;
}
.popular-button{
    position: absolute;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
}
.popular-card:hover img{
    transform: scale(1.05);
}
.popular-card.swiper-slide {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}
.swiper-wrapper{
    margin-left:2rem;
}
.swiper-pagination-bullet-active-main{
    background: white; 
}
.sss{
    color: white;
    background-color: white;
    background: white;
}
.swiper-pagination-bullet{
    color: aliceblue;
    background: white;
}

/*================================popular end======================================*/
/*================================features======================================*/
.features{
    overflow: hidden;
    position: relative;
    }
    .features-container{
        padding-top: 2rem;
        grid-template-columns: 285px;
        justify-content: center;
    }
    .features-group{
        display: grid;
        position: relative;
        z-index: 10;
    }
    .features-img{
        width: 150px;
        justify-self: center;
        background: no-repeat;
    }
    .features-card{
        width: 112px;
        background-color: hsl(0 ,0%, 100%,0.1);
        backdrop-filter: blur(16px);
        border-radius: 1.25rem;
        padding: 0.75rem 2rem;
        text-align: center;
        color: hsl(219, 8%, 95%);
        position: absolute;
    }
    .features-card-1{
        top: 4rem;
        left: 1.5rem;
    }
    .features-card-2{
        top: 8rem;
        right: 1rem;
    }
    .features-card-3{
    left: 1.5rem;
        bottom: 2rem;
    }
    .features-card-title{
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }
    .features-card-description{
        font-size: 0.75rem;
    }

   .features-map{
    max-width: initial;
    width: 450px;
    position: absolute;
    top: 8rem;
    left: 2rem;
    margin: auto;
    transform: rotate(-22deg);
   }




/*================================end features======================================*/
/*================================featured======================================*/
.featured-card{
  text-transform: capitalize;
}
.featured-container{
    padding-top: 1rem;
}
.featured-filters{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}
.featured-item{
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: hsl(219,4%, 7%);
    color: white;
    font-size: 0.935rem;
    cursor: pointer;
    transition: 0.3s;
}
.featured-item img{
    width: 1.5rem;
}
.featured-item img , .featured-item span{
opacity: 0.3;
transition: 0.3s;

}
.featured-item:hover{
background-color: #4178dc;

}
.featured-item:hover img , .featured-item:hover span{
    opacity: 1;
}
.featured-content{
    grid-template-columns: 286px;
    grid-column: 2.5rem;
    justify-content: center;
}
.featured-card{
    position: relative;
    background-color: hsl(219,4%, 7%);
    padding: 2rem 1.5rem 1.5rem;
}
.featured .smaller-shape{
    position: absolute;
    inset: 0;
    margin: auto;
}
.featured-img , .featured-title ,.featured-subtitle{
    position: relative;
}
.featured-title{
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}
.featured-subtitle{
    color: hsl(219, 8%, 75%);
    font-size: 0.938rem;
    font-weight: 400;
}
.featured-img{
    width: 200px;
    margin: 1.5rem 0;
    transition: 0.3s;
}
.featured-price{
    font-size: 1rem;
}
.featured-button{
    border: 2px solid transparent;
    outline: none;
    padding: 0.75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}
.featured-button i{
    font-size: 1.25rem;
}
.featured-card:hover .featured-img{
    transform: scale(1.05);
}
.active-featured{
    background-color: #4178dc;
    
}
.active-featured span, .active-featured img{
    opacity: 1;
}
/*================================featured click======================================*/

.information-card {
    background-color: hsl(219,4%, 7%);
    border-radius: 8px;
    padding: 20px;
    color: white;
    text-align: center;
}

.information-title {
    margin-bottom: 5px;
    
   
}

.information-label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 0.8rem;

}
.labelwitheinput{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 40% 70%;
}
.information-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #333;
    outline: none;
    border-color: #fff;
}

.information-input::placeholder {
    color: #ccc;
}

.information-submit {
    background-color: #4178dc;
    color: white;
    padding: 10px 20px;
    border: solid 2px #4178dc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.information-submit:hover {
    background-color: transparent;
    border: solid 2px #fff;
}
.ri-mail-close-line{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    padding: 5px;
    
}
.information-price {
    margin-top: 10px;
    display: flex;
    align-items: center;

    
}


.information-price-value {
    font-weight: bold;
    color: #fff; 
   color: hsl(219, 8%, 75%);
    padding: 8px;
    margin-left: 3rem;
    
}

.information-input {
    margin-top: 10px; }


/*================================end featured======================================*/
/*================================offer======================================*/
.offer{
    position: relative;
}
.offer-bg{
    position: absolute;
    object-position: center;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
   z-index: -2;
}

.offer-contnaner{
    grid-template-columns: max-content 224px;
}

.offer-data{
    text-align: center;
}
.offer-title{
    margin-bottom: 2rem;
}
.offer-description{
   
    margin-bottom: 3rem;
    text-wrap: wrap;
}
.offer-img{
    position: relative;
    width: 500px;
    bottom: 5.5rem;
    right: -5rem;
}
.offer-data{
    margin: 0 2rem 5rem 1rem;
}

/*================================ end offer======================================*/
/*================================logos======================================*/
.logo-img{
    width: 40px;
    transition: 0.3s;
    opacity: 0.4;
}
.logo-img:hover{
    opacity: 1;
}
.logo-container{
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2rem;
}
/*================================end logos======================================*/
/*================================footer=====================================*/
.footer{
    position: relative;
    overflow: hidden;
}
.footer .shape-small{
    position: absolute;
   right:15rem;
   bottom: -8rem;
   z-index: -10000;
}
.footer .shape-big{
    position: absolute;
width: 300px;
height: 300px;
left: 12rem;
top: 0rem;
z-index: -10000;
}
.footer-container{
    row-gap: 2.5rem;
}

.footer-logo a{
 display: inline-flex;
align-items: center;
column-gap: 0.25rem;
color: white;
font-size: 1.25rem;
font-weight:500 ;

margin-bottom: 1.25rem;
transition: 0.3s;
}
.footer-logo i{
    font-size: 1.5rem;
    font-weight: 500;
}
.footer-logo a:hover{
    color: #4178dc;
}
.footer-title{
    font-size: 1rem;
    margin-bottom: 1.25rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.footer-link,.footer-social-link{
    color: hsl(219, 8%, 75%);
    transition: 0.3s;
}
.footer-link:hover,.footer-social-link:hover{
    color: white;
    cursor: pointer;
    
}
.footer-social{
    display: flex;
    column-gap: 1.25rem;
    margin-bottom: 2rem;
}
.footer-social-link{
    color: hsl(219, 8%, 75%);
    font-size: 1rem;
}
.footer-copy{
    display: block;
    text-align: center;
    margin-top: 4.5rem;

}
/* -------------------------------------------loader------------------------/*/
.preloader{
    position: fixed;
    background: #000  center center no-repeat;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
.loading-car-img{
    width: 10%;
    position: absolute;
    animation: loading 1.2s infinite linear;
}
@keyframes loading{

    100%{
    transform: rotate(360deg);
    }
}
@media screen and (min-width:767px){
.loading-img{
    width: 12%;
}
.loading-car-img{
    width: 3%;
}
}
/* -------------------------------------------si in pc------------------------/*/
@media screen and (min-width:767px){
    .div-nav{
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        
    }
    .nav-logo{
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
    
    
    }
    .ul-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: -5rem;
        align-items: center;
        row-gap: 3rem;
        padding-top: 1rem;
}
.ul-nav li a{
    font-weight: 700;
    font-size: 1rem;
}

.nav-close,.nav-toggle{
    display: none;
}
.nav-logo{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
}
.featured-content{
    grid-template-columns: repeat(3,286px);
    grid-column: 2.51rem;
    justify-content: center;
    
}
.featured-container{
    margin: auto;
}

.popular-data{
    grid-template-columns: repeat(3,max-content);
 
}
.features-map{
    max-width: initial;
    width: 450px;
    position: absolute;
    top: 7rem;
    left: 38%;
    margin: auto;
    transform: rotate(-22deg);
    
   }
.sectionflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*--------------footer----------------------*/
.footer-container{
    grid-template-columns: repeat(4,1fr);
}
.fotter-content{
   
    position: relative;
    left: 50%;
}
/*-------------------logos-------------*/
.logo-container{
    margin: auto;
}

.logo-img{
    margin:0 4rem;
}
/*-------------------offer-------------*/
.offer-container{
    margin: auto;
    display: flex;
}
.offer-img{
    position: relative;
    width: 400px;
    object-fit: contain;
    bottom: 0rem;
    right: 0;
}
.offer-data,.offer-title{
    text-align: start;
}
/*---------------------------------about----------/*/
.about-container{
    grid-template-columns: repeat(2,1fr);
    column-gap:6rem ;
}
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    width: 100%;
    border-radius: 1rem;
   
    }






/*li a[href="#home"]::before{
        content: "";
        position: absolute;
        bottom: -0.15rem;
        
        width: 2%;
        height: 2px;
        background-color: #4178dc;
        transition: 0.3s;
}
li a[href="#home"]:hover::before {
	width: 4%;
	background-color:#347934;


    .about-data{
    margin-left: 5rem;
}
}*/

}
